---
import MemberCard from '../components/Members/MemberCard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="World Shokudo">

        <div class="grid grid-cols-3 gap-4 mx-auto max-w-screen-xl">
          <MemberCard client:load name="かいくん" season="Season: 1,2"></MemberCard>
          <MemberCard client:load name="ゆりえ姉さん" season="Season: 1,2"></MemberCard> 
          <MemberCard client:load name="JAMBO" season="Season: 1,2"></MemberCard> 
          <MemberCard client:load name="ASAYO" season="Season: 1,2"></MemberCard> 
          <MemberCard client:load name="桜i" season="Season: 2"></MemberCard>  
 

    </div>


</Layout>