---


---
<nav class="flex justify-center">
    <ul>
        <li>
            <a href="/">
            <div class="flex flex-col justify-center items-center">
                <img src="/gifs/globeanime.gif">
            </div>
        </a>
         
        </li>
        <li >
            <a href="/about/">
            <div class="flex flex-col justify-center items-center">
                <img src="/gifs/about.gif">
            </div>
              </a>
        </li>
        <li>
            <a href="/members/">
            <div class="flex flex-col justify-center items-center">
                <img src="/gifs/members.gif">
 
            </div>
        </a>
        </li>
       
        <li>
            <a href="/tour/">
            <div class="flex flex-col justify-center items-center">
                <img src="/gifs/tour.gif">

            </div>
        </a>
        </li>
        
    </ul>
</nav>
<style>
ul{
    list-style: none;
}
li{
    display: inline-block;
}
</style>
